@model GOCompanies.ViewModels.CompanyViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CompanyViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype ="multipart/form-data">
            @if(ViewBag.Message != null)
            {
                <h5 class ="alert alert-danger">@ViewBag.Message</h5>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nameVehicle" class="control-label">Vehicle Name</label>
                <input asp-for="nameVehicle" class="form-control" />
                <span asp-validation-for="nameVehicle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label">Company Name</label>
                <select asp-for="Company" class="form-control" 
                        asp-items = "@(new SelectList(Model.Companies,"Id","Name"))"></select>
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info" />
                <a asp-action="Index" class = "btn btn-outline-info">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
