
@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div  class="text-center">
        <h1 class="display-4">Welcome To GOCompanies</h1>
    </div>
    <div id ="bg">
    <img src="~/pexels-photo-380769.jpeg" width="100%" height="auto"/>
   
</div></body>



