@model GOCompanies.ViewModels.CompanyViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CompanyViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"  enctype ="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="driverId" type="hidden" value="@Model.driverId">
            <div class="form-group">
                <label asp-for="nameDriver" class="control-label">Driver's Name</label>
                <input asp-for="nameDriver" class="form-control" />
                <span asp-validation-for="nameDriver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label">Comany Name</label>
                <select asp-for="Company" class="form-control" 
                        asp-items = "@(new SelectList(Model.Companies,"Id","Name"))"></select>
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle" class="control-label">Vehicle Name</label>
                <select asp-for="Vehicle" class="form-control" 
                        asp-items = "@(new SelectList(Model.Vehicles,"Id","Name"))"></select>
                <span asp-validation-for="Vehicle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-info" />
                <a asp-action="List" class = "btn btn-outline-info">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
